<mat-toolbar color="primary">
  <mat-toolbar-row>
    <label>Rozwijane Menu</label>
    <button mat-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [routerLink]="'/home'">
      <mat-icon>home</mat-icon>Home
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item>
        <a routerLink="/home">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/about">About Us</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/contact">Contact Form</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/exchangeRate">Cena złota (API)</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/usdRate">Cena USD (API)</a>
      </mat-list-item>
      <div style="text-align: center; margin-top: 20px">
        <h5>Jakub Iłowski</h5>
        <h5>nr albumu: 64258</h5>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
