<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Aktualnie obowiązująca cena złota:</mat-card-title>
    <mat-card-subtitle>
      <p style="margin-top: 4px">Data - data publikacji ceny</p>
      <p>Cena - wyliczona w NBP cena 1 g złota (w próbie 1000)</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let c of pricies">
      <div class="row g-2 mt-2">
        <div class="col">
          <div class="card-body">
            <h4 class="card-text"><span>Data:</span> {{ c.data }}</h4>
            <h4 class="card-text"><span>Cena:</span> {{ c.cena }} PLN</h4>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      Seria ostatnich 'topCount' notowań cen złota:
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <input
        matInput
        style="margin-top: 5px"
        [(ngModel)]="topCount"
        name="something"
        placeholder="topCount"
      />
      <button style="margin-left: 4px" class="button" type="submit">
        Wyślij
      </button>
    </form>
    <ng-container *ngFor="let c of priciesFromCount">
      <div class="row g-2 mt-2">
        <div class="col">
          <div class="card-body">
            <h4 class="card-text"><span>Data:</span> {{ c.data }}</h4>
            <h4 class="card-text"><span>Cena:</span> {{ c.cena }} PLN</h4>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      Cena złota opublikowana w dniu 'date' (albo brak danych):
    </mat-card-title>
    <mat-card-subtitle> data w formacie RRRR-MM-DD </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmitDate()">
      <input
        matInput
        style="margin-top: 5px"
        [(ngModel)]="date"
        name="something"
        placeholder="RRRR-MM-DD"
      />
      <button style="margin-left: 4px" class="button" type="submit">
        Wyślij
      </button>
    </form>
    <ng-container *ngFor="let c of priciesFromDate">
      <div class="row g-2 mt-2">
        <div class="col">
          <div class="card-body">
            <h4 class="card-text"><span>Data:</span> {{ c.data }}</h4>
            <h4 class="card-text"><span>Cena:</span> {{ c.cena }} PLN</h4>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
